;; An implicit default profile which gets fed into deps.edn as a resolve alias.
;;
;; This file should be used for version pinning and overrides where required.

{:default-deps
 {;; Core + Contrib
  org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/data.xml {:mvn/version "0.2.0-alpha5"}
  org.clojure/tools.gitlibs {:mvn/version "0.2.64"}
  org.clojure/tools.cli {:mvn/version "0.3.5"}
  org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}

  ;; Maven
  ^:group org.apache.maven.resolver {:mvn/version "1.1.1"}
  ^:group org.apache.maven {:mvn/version "3.5.2"}

  ;; Webshite
  ring/ring {:mvn/version "1.7.0-RC1"}
  ring/ring-jetty-adapter {:mvn/version "1.7.0-RC1"}
  ring/ring-json {:mvn/version "0.5.0-beta1"}
  compojure/compojure {:mvn/version "1.6.1"}
  cheshire/cheshire {:mvn/version "5.8.0"}

  instaparse/instaparse {:mvn/version"1.4.9"}
  io.replikativ/hasch {:mvn/version "0.3.4"}
  pandect/pandect {:mvn/version "0.6.1"}
  clj-fuzzy {:mvn/version "0.4.1"}

  me.raynes/fs {:mvn/version "1.4.6"}

  ;; Embedded development
  nrepl/nrepl {:mvn/version "0.4.0"}
  cider/cider-nrepl {:mvn/version "0.18.0"}
  }
 }
