{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojure-tools {:local/root "../clojure-tools"}

        ring/ring {:mvn/version "1.7.0-RC1"}
        ring/ring-jetty-adapter {:mvn/version "1.7.0-RC1"}
        compojure/compojure {:mvn/version "1.6.1"}
        cheshire/cheshire {:mvn/version "5.8.0"}}}
